*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f3f4f6;
color:#111827;
}

header{
background:#111827;
padding:15px 5%;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
color:white;
}

.logo span{
color:#f59e0b;
}

.search-box{
width:45%;
display:flex;
}

.search-box input{
width:100%;
padding:13px;
border:none;
outline:none;
border-radius:8px 0 0 8px;
}

.search-box button{
padding:13px 18px;
border:none;
background:#f59e0b;
color:white;
font-weight:bold;
border-radius:0 8px 8px 0;
}

.top-actions{
display:flex;
gap:15px;
align-items:center;
}

.cart-btn,
.admin-btn{
background:#f59e0b;
color:white;
padding:12px 18px;
border-radius:10px;
font-weight:600;
cursor:pointer;
}

.hero{
height:350px;
background:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url('https://images.unsplash.com/photo-1441986300917-64674bd600d8');

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:55px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
}

.products-section{
padding:50px 5%;
}

.section-title{
font-size:35px;
margin-bottom:30px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
border-radius:18px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card-content{
padding:18px;
}

.price{
font-size:24px;
font-weight:700;
color:#f59e0b;
margin-bottom:15px;
}

.qty{
display:flex;
align-items:center;
gap:10px;
margin-bottom:15px;
}

.qty button{
width:35px;
height:35px;
border:none;
background:#111827;
color:white;
border-radius:8px;
cursor:pointer;
}

.add-cart{
width:100%;
padding:12px;
border:none;
background:#f59e0b;
color:white;
font-weight:600;
border-radius:10px;
cursor:pointer;
}

.delete-btn{
width:100%;
margin-top:10px;
background:red;
color:white;
border:none;
padding:12px;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.cart-panel{
position:fixed;
right:-450px;
top:0;
width:400px;
height:100%;
background:white;
padding:25px;
transition:0.4s;
overflow-y:auto;
z-index:2000;
}

.cart-panel.active{
right:0;
}

.cart-header{
display:flex;
justify-content:space-between;
}

.close-cart{
font-size:30px;
cursor:pointer;
}

.cart-item{
display:flex;
gap:15px;
background:#f9fafb;
padding:10px;
border-radius:12px;
margin-bottom:15px;
}

.cart-item img{
width:80px;
height:80px;
border-radius:10px;
object-fit:cover;
}

.total{
font-size:25px;
font-weight:700;
margin-top:20px;
}

.checkout{
width:100%;
padding:15px;
background:#10b981;
color:white;
border:none;
font-size:18px;
border-radius:12px;
margin-top:20px;
cursor:pointer;
}

.admin-panel{
position:fixed;
inset:0;
background:rgba(0,0,0,0.7);
display:none;
justify-content:center;
align-items:center;
z-index:3000;
}

.admin-box{
background:white;
padding:30px;
width:90%;
max-width:500px;
border-radius:20px;
}

.admin-box input{
width:100%;
padding:15px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:10px;
}

.admin-box button{
width:100%;
padding:15px;
background:#111827;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

footer{
background:#111827;
color:white;
padding:30px;
text-align:center;
margin-top:50px;
}